
<div class="container-fluid">
	<div class="row"><h4>These pets are looking for a home!</h4></div>
	<div class="row">
	    <div class="col-sm-6"><a href="/pets/add" [routerLink]="['/pets/add']">Add a pet to the shelter</a></div>
	    <br>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table>
				<thead>
					<tr>
						<td>Pet</td>
						<td>Type</td>
						<td>Actions</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let pet of pets'>
						<td>{{pet.name}}</td>
						<td>{{pet.type}}</td>
						<td>
							<div class="row">
								<div class="col-sm-6">
									<a href="/details-app/{{pet._id}}" [routerLink]="['/details-app/', pet._id]"><button class="view_quotes">Details</button></a>
								</div>
								<div class="col-sm-6">
									<a href="/pets/edit/{{pet._id}}" [routerLink]="['/pets/edit/', pet._id]"><button>Edit</button></a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

